input.param {
    border: none;
    font-size: 100%;
    font-family: serif;
    background: none;
}

div#ui {
    width: 45ex;
    opacity: 0.75;
    position: absolute;
    top: 1ex; left: 1ex;
    background: rgba(80,120,255,0.7);
    border: 1px solid rgba(80,120,255,0.8);
    padding: 5px;
    border-radius: 5px;
    font-size: 90%
}

p.sliderLabel {
    margin-top: 0ex;
    margin-bottom: -1.7ex;
}

p.slider {
    font-size: 70%;
}

canvas.effect {
    /* Visible green means that something broke. Check JavaScript console. */
    background-color: green;
}

body { margin: 0px }
